* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    
}



// Color values
$white: #ffffff;
$black: #202020;


// Usual button styles

button{
    background: $white;
    padding: 0 24px;
    border: none;
    border-radius: 24px;
    font-size: 16px;
    line-height: 48px;
    letter-spacing: 0em;
    cursor: pointer;
    transition: .5s;
    &:hover{
        transition: .5s;
        transform: scale(1.3);
    }
}


.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

@font-face {
    font-family: "Roboto";  
    src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}









@import "header"; // Header
@import "start";  // Start
@import "arrivals"; // Arrivals
@import "zipOff";  // ZipOff
@import "trail";  // Trail
@import "getOutside";   // GetOutside
@import "shop"; // Shop